<div class="imagebg" id="top-level">
  <%= render partial: 'layouts/navigation' %>

  <div class="container">
    <img data-bind="attr: {src: image_large}" class="profile-image">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="form-inline">
          <p class="lead low-profile low-profile-large">
            My name is 
            <select class="form-control" data-bind="value: title">
              <option value=""> </option>
              <option value="Mr">Mr</option>
              <option value="Ms">Ms</option>
              <option value="Miss">Miss</option>
              <option value="Mrs">Mrs</option>
            </select>
            <input type="text" class="form-control auto-grow" placeholder="first name" data-bind="value: first_name, valueUpdate: 'afterkeydown', attr: {size: first_name().length || 'first name'.length}">
            <input type="text" class="form-control auto-grow" placeholder="surname" data-bind="value: surname, valueUpdate: 'afterkeydown', attr: {size: surname().length || 'surname'.length}">.<br/>
            I am
            <input type="text" class="form-control auto-grow" placeholder=" " data-bind="value: age, valueUpdate: 'afterkeydown', attr: {size: age().length || ' '.length}">
            years old.<br/>
            My address is
            <input type="text" class="form-control auto-grow" placeholder="address" data-bind="value: address, valueUpdate: 'afterkeydown', attr: {size: address().length || 'address'.length}">.<br/>
            I am
            <select class="form-control" data-bind="value: maritalStatus">
              <option value="single" select>single</option>
              <option value="in_relationship">in a relationship</option>
              <option value="married">in a civil partnership</option>
              <option value="married">married</option>
            </select>.<br/>

            My employment status is
            <select class="form-control" data-bind="value: employment_status">
              <option value="employed" select>employed</option>
              <option value="self-employed">self-employed</option>
              <option value="retired">retired</option>
              <option value="unemployed">unemployed</option>
              <option value="full-time-education">in full time education</option>
              <option value="household-duties">household duties</option>
              <option value="independent-means">independent means</option>
              <option value="disability">not  employed due to disability</option>
            </select>
            <span data-bind="if: employment_status() == 'employed' || employment_status() == 'self-employed'"> <br/>in the <input type="text" class="form-control auto-grow" placeholder=" " data-bind="value: industry, valueUpdate: 'afterkeydown', attr: {size: industry().length || ' '.length}"> industry</span>.<br/>
            <span data-bind="if: employment_status() == 'employed' || employment_status() == 'self-employed'">My job is
            <input type="text" class="form-control auto-grow" placeholder=" " data-bind="value: job, valueUpdate: 'afterkeydown', attr: {size: job().length || ' '.length}">.</span>
            
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="products">
  <!-- ko with: motor -->
  <div class="imagebg" id="motor" data-bind="css: { inactive: !enabled() }">
    <div class="container">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2 icon">
            <%= image_tag("policy_icons/motoricon.png") %>
          </div>
          <h1 class="panel-title" data-toggle="collapse" data-bind="click: toggle_enabled" href="#motor-detail">Protect my car <span class="not_covered"><span data-bind="if: !enabled()"/>(not covered)</h1></h4>
        </div>
      </div>
      <div id="motor-detail" class="panel-collapse collapse">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <form class="form-inline">
              <p class="lead low-profile low-profile-small">
                I want to insure
                <select class="form-control" data-bind="value: number_cars">
                  <option value="1" select>my car</option>
                  <option value="2">two cars</option>
                  <option value="3">three cars</option>
                  <option value="4">four cars</option>
                  <option value="5">five cars</option>
                </select>.<br/>
                My registration number is
                <input type="text" class="form-control auto-grow" placeholder="registration number" data-bind="value: reg_number, valueUpdate: 'afterkeydown', attr: {size: reg_number().length || 'registration number'.length}">.<br/>
                I want
                <select class="form-control" data-bind="value: cover_level">
                  <option value="comprehensive" select>comprehensive</option>
                  <option value="tpft">third party, fire and theft</option>
                </select>
                cover.<br/>
                I would like my cover to start <input type="text" class="form-control auto-grow" placeholder="mm/dd/yyyy" data-bind="value: cover_start, valueUpdate: 'afterkeydown', attr: {size: cover_start().length || 'mm/dd/yyyy'.length}">.
              </p>
              <p class="reduce_premium"><i class="glyphicon glyphicon-chevron-down"></i> Click to reduce your premium by providing additional information.</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko with: home -->
  <div class="imagebg" id="home" data-bind="css: { inactive: !enabled() }">
    <div class="container">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2 icon">
            <%= image_tag("policy_icons/buildingicon.png") %>
          </div>
          <h1 class="panel-title" data-toggle="collapse" data-bind="click: toggle_enabled" href="#home-detail">Protect my home <span class="not_covered"><span data-bind="if: !enabled()"/>(not covered)</h1></h4>
        </div>
      </div>
      <div id="home-detail" class="panel-collapse collapse">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <form class="form-inline">
              <p class="lead low-profile low-profile-small">
                I want
                <select class="form-control" data-bind="value: cover_level">
                  <option value="buildings">buildings only cover</option>
                  <option value="building_and_contents" select>building and contents cover</option>
                  <option value="contents">contents cover</option>
                </select>
                cover.<br/>
                I want to cover my
                <select class="form-control" data-bind="value: property">
                  <option value="main_home">home</option>
                  <option value="second_home" select>another property</option>
                </select>.<br/>
                I <select class="form-control" data-bind="value: ownership">
                  <option value="rent">rent</option>
                  <option value="own" select>own</option>
                  <option value="mortgage" select>have a mortgate on</option>
                </select> the property.<br/>
                I would like my cover to start <input type="text" class="form-control auto-grow" placeholder="mm/dd/yyyy" data-bind="value: cover_start, valueUpdate: 'afterkeydown', attr: {size: cover_start().length || 'mm/dd/yyyy'.length}">.
              </p>
              <p class="reduce_premium"><i class="glyphicon glyphicon-chevron-down"></i> Click to reduce your premium by providing additional information.</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko with: life -->
  <div class="imagebg" id="life" data-bind="css: { inactive: !enabled() }">
    <div class="container">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2 icon">
            <%= image_tag("policy_icons/lifeicon.png") %>
          </div>
          <h1 class="panel-title" data-toggle="collapse" data-bind="click: toggle_enabled" href="#life-detail">Protect my life <span class="not_covered"><span data-bind="if: !enabled()"/>(not covered)</h1></h4>
        </div>
      </div>
      <div id="life-detail" class="panel-collapse collapse">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <form class="form-inline">
              <p class="lead low-profile low-profile-small">
                I want to protect my
                <select class="form-control" data-bind="value: cover_type">
                  <option value="term">family</option>
                  <option value="decreasing" select>mortgage</option>
                  <option value="term_mort">family and mortgage</option>
                </select>.<br/>
                I need
                <select class="form-control" data-bind="value: cover_level">
                  <option value="50000">£50,000</option>
                  <option value="100000" select>£100,000</option>
                  <option value="150000" select>£150,000</option>
                  <option value="200000" select>£200,000</option>
                  <option value="250000" select>£250,000</option>
                </select> of cover over
                <select class="form-control" data-bind="value: term">
                  <option value="10">10</option>
                  <option value="15" select>15</option>
                  <option value="20" select>20</option>
                  <option value="25" select>25</option>
                  <option value="30" select>30</option>
                </select> years.<br/>
                I <select class="form-control" data-bind="value: smoker">
                  <option value="no">don't</option>
                  <option value="yes">do</option>
                </select> smoke, and I <select class="form-control" data-bind="value: medical_conditions">
                  <option value="no">don't</option>
                  <option value="yes">do</option>
                </select> have pre-existing health conditions.<br/>
                I would like my cover to start <input type="text" class="form-control auto-grow" placeholder="mm/dd/yyyy" data-bind="value: cover_start, valueUpdate: 'afterkeydown', attr: {size: cover_start().length || 'mm/dd/yyyy'.length}">.
              </p>
              <p class="reduce_premium"><i class="glyphicon glyphicon-chevron-down"></i> Click to reduce your premium by providing additional information.</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /ko -->
<div>

<div class="price-bar" data-bind="with: pricing">
  <div class="container">
    <span class="discount">You've saved <span id="saving">£<span data-bind="text: saving">0.00</span> (%<span data-bind="text: saving_percent">0</span>)</span></span>
    <span class="quote"><span id="price">£<span data-bind="text: premium">0.00</span></span><span id="per_month">/month</span></span>
    <a class="buy btn btn-large btn-success" href="/profile/buy">Insure<b><%= current_user.first_name %> &gt;&gt;</b></a>
  </div>
</div>

<script type="text/javascript">
  ko.applyBindings(new InsureMe.Profile());
</script>
